body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.calculator {
	width: 200px;
	border: 2px solid rgb(165, 157, 157);
	border-radius: 10px;
}

input {
	margin: 10px;
	width: 85%;
	border-radius: 5px;
	font-size: 30px;
}

.button-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 10px;
}
p button {
	font-size: 30px;
	width: 55px;
	margin: 3px;
}
